html {
  font-size: 15px;
}

body {
  margin: auto;
  padding: 0;

  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;

  background: linear-gradient(to left, #0b8793, #360033);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 5px 10px;
}

a {
  text-decoration: none;
}

.page {
  max-width: 100vw;
  min-height: 750px;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 15px;
}

/****** Buttons ********/

button {
  font-size: 20px;
  color: #ffffff;

  padding: 15px 32px;

  background-color: #008cba;
  border: none;
  cursor: pointer;

  border-radius: 3px;
}

.reset-button,
.start-button {
  transition: opacity 0.3s ease-out;
}

.reset-button:hover,
.start-button:hover {
  opacity: 0.7;
}

/****** Main ********/

.start-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #2c5364, #203a43, #0f2027);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-screen h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 50px;
}

.counter-block {
  display: flex;
  justify-content: right;
  margin-bottom: 50px;
}

.counter {
  font-size: 20px;

  border-radius: 50%;

  margin: 2px;
  padding: 10px;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.count-user {
  color: #6ded72;
}
.count-computer {
  color: #f6b0c0;
}

.choose-heading {
  font-size: 30px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin: 50px 0 10px 0;
}

.card {
  padding: 10px;

  background: none;
  border: none;

  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.2);
}

.hands-block {
  font-size: 18px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hands-card {
  margin: 10px;
}

.result {
  text-align: center;

  font-size: 20px;

  margin: 20px 0 40px;
}

.reset {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.game-rules {
  display: flex;
  justify-content: center;
}

.rule {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;

  padding: 10px;
}

.game-rules details {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
}

.game-rules summary {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/**** Hidden Blocks ***/

.hands-block,
.reset {
  display: none;
}

@media only screen and (max-width: 955px) {
  .cards {
    flex-direction: column;
    height: 100%;
  }

  .mobile-img {
    height: 45%;
    width: 45%;
  }

  .choice-card {
    height: 55%;
    width: 55%;
  }
}
